## First attempt

In [1]:
freq_tweets = [
    (144040, '<user>'),
    (108030, 'i'),
    (46813, '<url>'),
    (36010, '<hashtag')
]

In [2]:
freq = [x[0] for x in freq_tweets]
freq

[144040, 108030, 46813, 36010]

In [3]:
tweet = [x[1] for x in freq_tweets]

## Unzip

In [4]:
freq, tweet = zip(*freq_tweets)
print('Frequency: {}'.format(freq))
print('Tweets: {}'.format(tweet))

Frequency: (144040, 108030, 46813, 36010)
Tweets: ('<user>', 'i', '<url>', '<hashtag')

In [5]:
import pandas as pd
tweets = pd.DataFrame({'Frequency':freq,
             'Tweet': tweet})
tweets.head()

   Frequency     Tweet
0     144040    <user>
1     108030         i
2      46813     <url>
3      36010  <hashtag